@import 'fonts';
@import 'mixins';
@import 'var';

.shareImpressions {
    padding: 80px 0 100px;
    background-color: #F3F5F4;
    
    &__containerStyle{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 45px;
    }
    &__shortText {
        @include styleShortText;
        text-align: center;
    }

    &__title {
        @include styleTitle;
    }

    &__blocksWithArticles {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(580px, 2fr));

        grid-gap: 20px;
    }

    &__blockArticle {
        max-height: 280px;
        background-color: #FDFDFD;
        display: flex;
        gap: 24px;
        padding: 16px 16px;

        border-radius: 10px;
    }

    &__information {
        min-width: 294px;
        padding: 16px 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__titleImpressions {
        font-family: "Nunito Sans", sans-serif;
        font-size: 24px;
        color: #18121E;
        font-weight: 800;
        cursor: pointer;
    }

    &__textImpressoins {
        margin-top: 24px;
        font-family: "Nunito Sans", sans-serif;
        font-size: 14px;
        color: #18121E;
        font-weight: 400;
        line-height: 20px;

        max-height: 116px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__dateAndLink {
        display: flex;
        justify-content: space-between;
    }

    &__postDate {
        font-family: "Nunito Sans", sans-serif;
        font-size: 14px;
        color: #F2BE22;
        font-weight: 800;
    }

    &__linkForRead {
        font-family: "Nunito Sans", sans-serif;
        font-size: 14px;
        color: #18121E;
        font-weight: 800;
        cursor: pointer;
    }

    &__otherArticleBtn {
        width: 220px;
        height: 52px;

        background-color: #1A3E3E;
        border: 1px solid #1A3E3E;
        border-radius: 4px;

        font-family: "Nunito Sans", sans-serif;
        font-size: 16px;
        font-weight: 600;
        color: #FDFDFD;

        cursor: pointer;
        transition: background-color 0.6s ease, color 0.6s ease;
    }

    &__otherArticleBtn:hover {
        background-color: #FDFDFD;
        color: #1A3E3E;
    }
}